USE [KPS_DATA_2023]
GO
/****** Object:  UserDefinedFunction [dbo].[get_Prim_1_2_3_Evaluation]    Script Date: 1/15/2025 10:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[get_Prim_Term_A_Evaluation](@degree float,@absent bit ) 
returns nvarchar(25) As
BEGIN
	DECLARE @return_value nvarchar(25);
    IF (@degree < 50) SET @return_value = N'أقل من التوقعات';
    IF (@degree BETWEEN 50 and 64.5) SET @return_value = N'يلبى التوقعات أحيانا';
	IF (@degree BETWEEN 65 and 84.95) SET @return_value = N'يلبى التوقعات';
	IF (@degree > 84.95 ) SET @return_value = N'يفوق التوقعات';
	IF (@absent = 1) SET @return_value = N'غائب';
 
    RETURN @return_value
END;
