USE [KPS_DATA_2023]
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Tadrg_Sen]    Script Date: 5/29/2026 9:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER proc [dbo].[SP_Get_Tadrg_Sen]
@year_id int,
@grade_id int,
@October_Sana int,
@isDesc BIT
as
IF @grade_id = 0
select
dbo.Age_year(std_nat, @October_Sana ) as 'October_year',
dbo.Age_Month(std_nat, @October_Sana ) as 'October_month',
dbo.Age_Day(std_nat, @October_Sana ) as 'October_day',
 * from V_Get_Tadreg_Sen where Year_Id =@year_id
  ORDER BY 
        CASE WHEN @isDesc = 0 THEN std_date END ASC,
        CASE WHEN @isDesc = 1 THEN std_date END DESC;
ELSE
select
dbo.Age_year(std_nat, @October_Sana ) as 'October_year',
dbo.Age_Month(std_nat, @October_Sana ) as 'October_month',
dbo.Age_Day(std_nat, @October_Sana ) as 'October_day',
* from V_Get_Tadreg_Sen where Year_Id = @year_id and Grade_Id = @grade_id
 ORDER BY 
        CASE WHEN @isDesc = 0 THEN std_date END ASC,
        CASE WHEN @isDesc = 1 THEN std_date END DESC;
