USE [KPS_DATA_2023]
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Final_Koshof_C]    Script Date: 5/30/2025 7:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[SP_Get_Final_Koshof_C]
@year_id int,
@grade_id int,
@October_Sana int
as
select
dbo.Age_year(std_nat, @October_Sana ) as 'October_year',
dbo.Age_Month(std_nat, @October_Sana ) as 'October_month',
dbo.Age_Day(std_nat, @October_Sana ) as 'October_day',
* from V_Get_Segel_Data sgl join V_Final_Degree_Valuation_C val
on sgl.std_code = val.std_code and sgl.Year_Id = val.Year_Id
where sgl.Year_Id = @year_id and sgl.Grade_Id = @grade_id
order by val.Golos ;