USE [KPS_DATA_2023]
GO
/****** Object:  UserDefinedFunction [dbo].[get_Prep_Pass_Term_B]    Script Date: 5/30/2025 7:27:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create function [dbo].[get_Prep_Pass_Term_B_2025](@degree float,@test_degree float,@absent bit ) 
returns tinyint As
BEGIN
	DECLARE @return_value tinyint;
	set @return_value = 0;
    IF (@degree <100) SET @return_value = 0;
	IF(@test_degree/30*100 >=25 and @degree >= 100) SET @return_value =1;
    IF(@absent = 1) SET @return_value = 0;
    RETURN @return_value
END;
