USE [KPS_DATA_2023]
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Year_Desc]    Script Date: 4/22/2026 11:58:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_Get_Year_By_Id]
@Year_Id int
as
select * from MyYears where MyYears.Year_Id = @Year_Id;
