USE [KPS_DATA_2023]
GO
/****** Object:  StoredProcedure [dbo].[SP_Add_Transfers_Data]    Script Date: 5/12/2026 10:49:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[SP_Add_Transfers_Data]
@Transfer_code nvarchar(20),
@std_code nvarchar(20),
@Transfer_School nvarchar(100),
@Transfer_status int, 
@Year_Id int,
@Guardian_name nvarChar(50),
@Transfer_reason nvarChar(50),
@Resom bit,
@Kotob bit,
@adrs nvarChar(100),
@Created_by nvarChar(15),
@Updated_by nvarChar(15),
@New_Grade int,
@Trans_After_Year bit,
-- طالب جديد هذا العام
@NewStudentInThisYear bit
as
BEGIN
	INSERT INTO [dbo].[Transfers]
			   ([Transfer_code]
			   ,[std_code]
			   ,[Transfer_School]
			   ,[Transfer_status]
			   ,[Year_Id]
			   ,[Guardian_name]
			   ,[Transfer_reason]
			   ,[Resom]
			   ,[Kotob]
			   ,[adrs]
			   ,[Created_At]
			   ,[Created_by],
			   [New_Grade],
			   [Trans_After_Year])
		 VALUES
			   (
				@Transfer_code
			   ,@std_code
			   ,@Transfer_School
			   ,@Transfer_status
			   ,@Year_Id
			   ,@Guardian_name
			   ,@Transfer_reason
			   ,@Resom
			   ,@Kotob
			   ,@adrs
			   ,GETDATE()
			   ,@Created_by
			   ,@New_Grade
			   ,@Trans_After_Year
			   );

	UPDATE [dbo].[School_Std_Data]
	SET    [Std_Status_Id] = @Transfer_status,
		   [Updated_At] = GETDATE(),
		   [Updated_by] = @Updated_by
	WHERE [std_code] = @std_code
	  AND [Year_Id] = @Year_Id;


	IF @NewStudentInThisYear = 1
		BEGIN
			UPDATE [dbo].[School_Std_Data]
			-- 7 = تحويل أثناء العام
			SET    [Std_Status_Id] = 7,
				   [Updated_At] = GETDATE(),
				   [Updated_by] = @Updated_by
			WHERE [std_code] = @std_code
			  AND [Year_Id] = @Year_Id + 1;
			UPDATE [dbo].[Transfers]
			SET    [Transfer_status] = 7
			WHERE Transfer_code = @Transfer_code;
		END
	ELSE
		BEGIN
			DELETE FROM [dbo].[School_Std_Data]
			WHERE [std_code] = @std_code
			  AND [Year_Id] = @Year_Id + 1;
		END
END