USE [KPS_DATA_2023]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_Trans_Data]    Script Date: 5/13/2026 11:23:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[SP_GET_Trans_Data]
@Year_Id int,
@Grade_Id int,
@Status_Ids nvarchar(50)
AS
BEGIN
IF(@Grade_Id =0)
BEGIN
select * from V_Get_Tahwelat_Data 
where Year_Id = @Year_Id
   AND Std_Status_Id IN (
        SELECT TRY_CAST(value AS INT)
        FROM STRING_SPLIT(@Status_Ids, ',')
    )
order by  Grade_Id , N'اسم الطالب';
END

IF(@Grade_Id !=0)
BEGIN
select * from V_Get_Tahwelat_Data where 
Year_Id = @Year_Id 
and Grade_Id = @Grade_Id 
 AND Std_Status_Id IN (
        SELECT TRY_CAST(value AS INT)
        FROM STRING_SPLIT(@Status_Ids, ',')
    )
order by  Grade_Id , N'اسم الطالب';;
END
END
