USE [KPS_DATA_2023]
GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_Transfers_Data]    Script Date: 5/15/2026 12:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [dbo].[SP_Delete_Transfers_Data]
@Transfer_code int,
@std_code nvarchar(20),
@Year_Id int,
@Grade_Id int,
@Class_Id int,
@Updated_by nvarchar(15),
@new_year int,
@std_found int,
@To_School int,
@Trans_After_Year bit
as
BEGIN

if(@new_year !=0)
	BEGIN
		if(@std_found = 0)
		BEGIN
			INSERT INTO [dbo].[School_Std_Data]
				   ([std_code]
				   ,[Year_Id]
				   ,[Grade_Id]
				   ,[Std_Status_Id]
				   ,[Class_Id]
				   ,[Updated_At]
				   ,[Updated_by])
			 VALUES
				   (@std_code,
					@Year_Id +1
				   ,@Grade_Id
				   ,2
				   ,@Class_Id
				   ,GETDATE()
				   ,@Updated_by
				   );
		END
END

IF @Trans_After_Year = 1
BEGIN
select * from School_Std_Data where Year_Id = @Year_Id +1 and std_code = @std_code;
if (@@ROWCOUNT = 0)
BEGIN
	INSERT INTO [dbo].[School_Std_Data]
				   ([std_code]
				   ,[Year_Id]
				   ,[Grade_Id]
				   ,[Std_Status_Id]
				   ,[Class_Id]
				   ,[Updated_At]
				   ,[Updated_by])
				 VALUES
				   (@std_code
				   ,@Year_Id +1
				   ,@Grade_Id
				   ,2
				   ,@Class_Id
				   ,GETDATE()
				   ,@Updated_by
				   );
END
 ELSE
    BEGIN

        UPDATE School_Std_Data
        SET Std_Status_Id = 1
        WHERE std_code = @std_code
        AND Year_Id = @Year_Id +1;

    END
select * from School_Std_Data where Year_Id = @Year_Id +2;
if (@@ROWCOUNT != 0)
BEGIN
	select * from School_Std_Data where std_code = @std_code and Year_Id = @Year_Id +2;
		if (@@ROWCOUNT = 0)
		BEGIN
			INSERT INTO [dbo].[School_Std_Data]
				   ([std_code]
				   ,[Year_Id]
				   ,[Grade_Id]
				   ,[Std_Status_Id]
				   ,[Class_Id]
				   ,[Updated_At]
				   ,[Updated_by])
				 VALUES
				   (@std_code
				   ,@Year_Id +2
				   ,@Grade_Id+1
				   ,2
				   ,@Class_Id
				   ,GETDATE()
				   ,@Updated_by
				   );
		END
	END
END
if(@To_School != 1)
	BEGIN
		update School_Std_Data 
		SET Std_Status_Id = 2
		where std_code = @std_code and Year_Id = @Year_Id;
END
if(@To_School = 1)
	BEGIN
		DELETE FROM School_Std_Data where 
		std_code = @std_code and Year_Id = @Year_Id;
END
	DELETE FROM Transfers where Transfer_code = @Transfer_code;
END