USE [KPS_DATA_2023]
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Tahewl]    Script Date: 5/14/2026 12:35:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[SP_Get_Tahewl]
@Transfer_code nvarchar(20)
as
select 
Transfer_code,
st.std_code,
st.std_name + ' ' + os.father_name as 'stdunt_name',
st.std_date,
Transfer_School,
Transfer_status,
t.Year_Id,
Guardian_name,
Transfer_reason,
Resom,
Kotob,
adrs,
g.Grade_Id,
g.GradeDesc,
y.YearDesc
from Transfers t
join StdData st on  t.std_code = st.std_code
join OsraData os on st.Osraa_Id = os.Osraa_Id
left join School_Std_Data sh on st.std_code = sh.std_code and t.Year_Id = sh.Year_Id
left join Grades g on sh.Grade_Id = g.Grade_Id
left join MyYears y on sh.Year_Id = y.Year_Id
where Transfer_code = @Transfer_code ;
