USE [KPS_DATA_2023]
GO
/****** Object:  UserDefinedFunction [dbo].[get_Prim_Pass_Term_B]    Script Date: 5/23/2025 4:16:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER function [dbo].[get_Prim_Pass_Term_B](@degree float,@test_degree float,@absent bit ) 
returns tinyint As
BEGIN
	DECLARE @return_value tinyint;
    IF (@degree <100) SET @return_value = 0;
	IF(@test_degree/30*100 >=30 and @degree >= 100) SET @return_value =1;
	IF(@test_degree = 0) SET @return_value =0;
    IF(@absent = 1) SET @return_value = 0;
    RETURN @return_value
END;
