USE [KPS_DATA_2023]
GO


create function [dbo].[get_Prim_Grade3_Evaluation_Final](@degree tinyint,
@ar2 tinyint,@math2 tinyint, @motadad tinyint, @eng2 tinyint
,@din2 tinyint,@absent bit) 
returns nvarchar(25) As
BEGIN
	DECLARE @return_value nvarchar(25);
    IF (@degree < 50) SET @return_value = N'أقل من التوقعات';
    IF (@degree BETWEEN 50 and 64.75) SET @return_value = N'يلبى التوقعات أحيانا';
	IF (@degree BETWEEN 65 and 84.75) SET @return_value = N'يلبى التوقعات';
	IF (@degree >= 85) SET @return_value = N'يفوق التوقعات';
	IF ( @ar2<18 or @math2<18 or @motadad<18 or
		@eng2<18 or @din2<18 )
		SET @return_value = N'أقل من التوقعات';
	IF (@absent = 1) SET @return_value = N'غائب';
	
    RETURN @return_value
END;
