USE [KPS_DATA_2023]
GO
/****** Object:  UserDefinedFunction [dbo].[get_Prim_1_2_3_Evaluation_Final]    Script Date: 6/2/2026 1:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER function [dbo].[get_Prim_1_2_3_Evaluation_Final](@degree tinyint,
@absent bit) 
returns nvarchar(25) As
BEGIN
	DECLARE @return_value nvarchar(25);
    IF (@degree < 50) SET @return_value = N'أقل من التوقعات';
    IF (@degree BETWEEN 50 and 64.75) SET @return_value = N'يلبى التوقعات أحيانا';
	IF (@degree BETWEEN 65 and 84.75) SET @return_value = N'يلبى التوقعات';
	IF (@degree >= 85) SET @return_value = N'يفوق التوقعات';
	IF (@absent = 1) SET @return_value = N'غائب';
	
    RETURN @return_value
END;
