USE [KPS_DATA_2023]
GO
/****** Object:  UserDefinedFunction [dbo].[get_Prim_1_2_3_Evaluation]    Script Date: 6/2/2026 1:29:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER function [dbo].[get_Prim_1_2_3_Evaluation](@degree tinyint,@absent bit ) 
returns nvarchar(25) As
BEGIN
	DECLARE @return_value nvarchar(25);
    IF (@degree/2 < 50) SET @return_value = N'أقل من التوقعات';
    IF (@degree/2 BETWEEN 50 and 64.75) SET @return_value = N'يلبى التوقعات أحيانا';
	IF (@degree/2 BETWEEN 65 and 84.75) SET @return_value = N'يلبى التوقعات';
	IF (@degree/2 >= 85) SET @return_value = N'يفوق التوقعات';
	IF (@absent = 1) SET @return_value = N'غائب';
 
    RETURN @return_value
END;
