<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="School_Mang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <School_Mang.Properties.Settings>
            <setting name="user_name" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="user_code" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Server_Name" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="DataBasee_name" serializeAs="String">
                <value>KPS_DATA_2023</value>
            </setting>
            <setting name="DataBasee_User" serializeAs="String">
                <value>kps_data_2023_admin</value>
            </setting>
            <setting name="DataBasee_Pass" serializeAs="String">
                <value>kps@2023</value>
            </setting>
            <setting name="MyYear" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="user_pass" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="year_cod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Year_Desc" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="permission_id" serializeAs="String">
                <value>0</value>
            </setting>
        </School_Mang.Properties.Settings>
    </userSettings>
</configuration>
