<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="School_Mang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <School_Mang.Properties.Settings>
            <setting name="user_name" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="user_code" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Server_Name" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="DataBasee_name" serializeAs="String">
                <value>KPS_DATA_2023</value>
            </setting>
            <setting name="DataBasee_User" serializeAs="String">
                <value>kps_data_2023_admin</value>
            </setting>
            <setting name="DataBasee_Pass" serializeAs="String">
                <value>kps@2023</value>
            </setting>
            <setting name="MyYear" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="user_pass" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="year_cod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Year_Desc" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="permission_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="save_path" serializeAs="String">
                <value>D:\Rasd\Months</value>
            </setting>
            <setting name="site_uri" serializeAs="String">
                <value>https://www.alkwtherps.com/api/</value>
            </setting>
            <setting name="save_Trm_A_path" serializeAs="String">
                <value>D:\Rasd\Term1</value>
            </setting>
            <setting name="save_Trm_B_path" serializeAs="String">
                <value>D:\Rasd\Term2</value>
            </setting>
            <setting name="save_Sery_path" serializeAs="String">
                <value>D:\Rasd\Sery</value>
            </setting>
            <setting name="Site_Server_Name" serializeAs="String">
                <value>sql5080.site4now.net</value>
            </setting>
            <setting name="Site_DataBasee_name" serializeAs="String">
                <value>db_a786ad_kpsdata</value>
            </setting>
            <setting name="Site_DataBasee_User" serializeAs="String">
                <value>db_a786ad_kpsdata_admin</value>
            </setting>
            <setting name="Site_DataBasee_Pass" serializeAs="String">
                <value>kps@2020</value>
            </setting>
            <setting name="Site_Host_Test" serializeAs="String">
                <value>google.com</value>
            </setting>
            <setting name="save_Users_path" serializeAs="String">
                <value>D:\Rasd\Users</value>
            </setting>
            <setting name="save_Lessons_path" serializeAs="String">
                <value>D:\Rasd\Lessons</value>
            </setting>
        </School_Mang.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.2.0" newVersion="2020.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
