USE [KPS_DATA_2023]
GO
/****** Object:  Table [dbo].[App_Data]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_Data](
	[Year_cod] [int] NOT NULL,
	[MyYear] [int] NOT NULL,
	[Year_Desc] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Class_Id] [int] NOT NULL,
	[Class_Desc] [nvarchar](5) NOT NULL,
	[Class_No] [int] NOT NULL,
	[Grade_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Class_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_Permissions]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_Permissions](
	[permission_id] [int] NOT NULL,
	[permission] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_Role_Permissions]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_Role_Permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_permission_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_Roles]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_Roles](
	[role_id] [int] NOT NULL,
	[role] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_USERS]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_USERS](
	[user_id] [int] NOT NULL,
	[user_name] [nvarchar](20) NULL,
	[user_password] [nvarchar](20) NULL,
	[user_img] [varbinary](max) NULL,
 CONSTRAINT [PK_DB_USERS] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_USERS_Roles]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_USERS_Roles](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[degrees]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[degrees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_Id] [nvarchar](20) NOT NULL,
	[arabic_degre] [int] NOT NULL,
	[dain_degre] [int] NOT NULL,
	[math_degre] [int] NOT NULL,
	[scince_degre] [int] NOT NULL,
	[social_degre] [int] NULL,
	[english_degre] [int] NOT NULL,
	[maharat_degre] [int] NULL,
	[tocnolegy_degre] [int] NULL,
	[badania_degre] [int] NULL,
	[general_degre] [int] NOT NULL,
	[sort_code] [int] NULL,
	[test_kind_Id] [int] NOT NULL,
	[grade_Id] [int] NOT NULL,
	[french_degre] [int] NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[Year_Id] [int] NOT NULL,
 CONSTRAINT [PK__degrees] PRIMARY KEY CLUSTERED 
(
	[student_Id] ASC,
	[test_kind_Id] ASC,
	[grade_Id] ASC,
	[Year_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Final_Degrees]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Final_Degrees](
	[Golos] [int] NOT NULL,
	[Year_Id] [int] NOT NULL,
	[arabic_A_1] [float] NULL,
	[arabic_A_2] [float] NULL,
	[arabic_B_1] [float] NULL,
	[arabic_B_2] [float] NULL,
	[math_A_1] [float] NULL,
	[math_A_2] [float] NULL,
	[math_B_1] [float] NULL,
	[math_B_2] [float] NULL,
	[scince_A_1] [float] NULL,
	[scince_A_practical] [float] NULL,
	[scince_A_Test] [float] NULL,
	[scince_B_1] [float] NULL,
	[scince_B_practical] [float] NULL,
	[scince_B_Test] [float] NULL,
	[social_A_1] [float] NULL,
	[social_A_2] [float] NULL,
	[social_B_1] [float] NULL,
	[social_B_2] [float] NULL,
	[english_A_1] [float] NULL,
	[english_A_2] [float] NULL,
	[english_B_1] [float] NULL,
	[english_B_2] [float] NULL,
	[dain_A_1] [float] NULL,
	[dain_A_2] [float] NULL,
	[dain_B_1] [float] NULL,
	[dain_B_2] [float] NULL,
	[maharat_A_1] [float] NULL,
	[maharat_A_2] [float] NULL,
	[maharat_B_1] [float] NULL,
	[maharat_B_2] [float] NULL,
	[tocnolegy_A_1] [float] NULL,
	[tocnolegy_A_practical] [float] NULL,
	[tocnolegy_A_Test] [float] NULL,
	[tocnolegy_B_1] [float] NULL,
	[tocnolegy_B_practical] [float] NULL,
	[tocnolegy_B_Test] [float] NULL,
	[nashat_1_A] [float] NULL,
	[nashat_2_A] [float] NULL,
	[nashat_1_B] [float] NULL,
	[nashat_2_B] [float] NULL,
	[absent_ar_A] [bit] NULL,
	[absent_ar_B] [bit] NULL,
	[absent_math_A] [bit] NULL,
	[absent_math_B] [bit] NULL,
	[absent_scince_A] [bit] NULL,
	[absent_scince_B] [bit] NULL,
	[absent_social_A] [bit] NULL,
	[absent_social_B] [bit] NULL,
	[absent_english_A] [bit] NULL,
	[absent_english_B] [bit] NULL,
	[absent_din_A] [bit] NULL,
	[absent_din_B] [bit] NULL,
	[absent_maharat_A] [bit] NULL,
	[absent_maharat_B] [bit] NULL,
	[absent_tocnolegy_A] [bit] NULL,
	[absent_tocnolegy_B] [bit] NULL,
	[absent_term_A] [bit] NULL,
	[absent_term_B] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Golos] ASC,
	[Year_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Gender_Id] [int] IDENTITY(1,1) NOT NULL,
	[GenderDesc] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Gender_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Grade_Id] [int] IDENTITY(1,1) NOT NULL,
	[GradeDesc] [nvarchar](30) NOT NULL,
	[GradeName] [nvarchar](30) NULL,
	[GradeStage] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Grade_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marks]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_Id] [nvarchar](20) NOT NULL,
	[arabic_degre] [int] NOT NULL,
	[dain_degre] [int] NOT NULL,
	[math_degre] [int] NOT NULL,
	[scince_degre] [int] NOT NULL,
	[social_degre] [int] NULL,
	[english_degre] [int] NOT NULL,
	[maharat_degre] [int] NULL,
	[tocnolegy_degre] [int] NULL,
	[badania_degre] [int] NULL,
	[general_degre] [int] NOT NULL,
	[sort_code] [int] NULL,
	[test_kind_Id] [int] NOT NULL,
	[grade_Id] [int] NOT NULL,
	[french_degre] [int] NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[updatedAt] [datetimeoffset](7) NOT NULL,
	[Year_Id] [int] NOT NULL,
 CONSTRAINT [PK__marks] PRIMARY KEY CLUSTERED 
(
	[student_Id] ASC,
	[test_kind_Id] ASC,
	[grade_Id] ASC,
	[Year_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyYears]    Script Date: 6/30/2025 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyYears](
	[Year_Id] [int] IDENTITY(1,1) NOT NULL,
	[YearDesc] [nvarchar](20) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_MyYears] PRIMARY KEY CLUSTERED 
(
	[Year_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[Nationality_Id] [int] IDENTITY(1,1) NOT NULL,
	[NationalityDesc] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nationality_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OsraData]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OsraData](
	[father_nat] [nvarchar](14) NOT NULL,
	[address] [nvarchar](255) NULL,
	[father_name] [nvarchar](40) NOT NULL,
	[father_last_name] [nvarchar](12) NOT NULL,
	[father_moahel] [nvarchar](50) NOT NULL,
	[father_wazifa] [nvarchar](50) NOT NULL,
	[tel] [nvarchar](7) NULL,
	[father_mobil_1] [nvarchar](11) NULL,
	[father_mobil_2] [nvarchar](11) NULL,
	[father_hala] [int] NOT NULL,
	[mother_nat] [nvarchar](14) NOT NULL,
	[mother_name] [nvarchar](50) NOT NULL,
	[mother_moahel] [nvarchar](50) NOT NULL,
	[mother_wazifa] [nvarchar](50) NOT NULL,
	[mother_mobil_1] [nvarchar](11) NULL,
	[mother_mobil_2] [nvarchar](11) NULL,
	[mother_hala] [int] NOT NULL,
	[comments] [nvarchar](250) NULL,
	[Osraa_Id] [int] NOT NULL,
	[Created_At] [datetime2](3) NULL,
	[Created_by] [nvarchar](15) NULL,
	[Updated_At] [datetime2](3) NULL,
	[Updated_by] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Osraa_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [un_father_nat] UNIQUE NONCLUSTERED 
(
	[father_nat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [un_mother_nat] UNIQUE NONCLUSTERED 
(
	[mother_nat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OsraStatuses]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OsraStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusDesc] [nvarchar](10) NOT NULL,
	[StatusType] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Religions]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Religions](
	[Religion_Id] [int] IDENTITY(1,1) NOT NULL,
	[ReligionDesc] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Religion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School_Std_Data]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School_Std_Data](
	[std_code] [nvarchar](20) NOT NULL,
	[Year_Id] [int] NOT NULL,
	[Grade_Id] [int] NOT NULL,
	[Std_Status_Id] [int] NULL,
	[Class_Id] [int] NULL,
	[Updated_At] [datetime2](3) NULL,
	[Updated_by] [nvarchar](15) NULL,
	[Golos] [int] NULL,
	[Sery] [int] NULL,
 CONSTRAINT [PK_School_Std] PRIMARY KEY CLUSTERED 
(
	[std_code] ASC,
	[Year_Id] ASC,
	[Grade_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sorts]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sorts](
	[sort_code] [int] NOT NULL,
	[sort_desc] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sort_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StdData]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StdData](
	[std_code] [nvarchar](20) NOT NULL,
	[std_name] [nvarchar](12) NOT NULL,
	[std_nat] [nvarchar](14) NOT NULL,
	[std_date] [date] NOT NULL,
	[Gender_Id] [int] NOT NULL,
	[Nationality_Id] [int] NOT NULL,
	[Religion_Id] [int] NOT NULL,
	[Std_Status_Id] [int] NOT NULL,
	[Grade_Id] [int] NOT NULL,
	[Year_Id] [int] NOT NULL,
	[Osraa_Id] [int] NULL,
	[Created_At] [datetime2](3) NULL,
	[Created_by] [nvarchar](15) NULL,
	[Updated_At] [datetime2](3) NULL,
	[Updated_by] [nvarchar](15) NULL,
 CONSTRAINT [PK_STD_DATA] PRIMARY KEY CLUSTERED 
(
	[std_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [un_std_nat] UNIQUE NONCLUSTERED 
(
	[std_nat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentStatuses]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentStatuses](
	[Std_Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusDesc] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Std_Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testkinds]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testkinds](
	[id] [int] NOT NULL,
	[testkind_desc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__testkind] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transfers]    Script Date: 6/30/2025 8:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transfers](
	[Transfer_code] [nvarchar](20) NOT NULL,
	[std_code] [nvarchar](20) NOT NULL,
	[Transfer_School] [nvarchar](100) NULL,
	[Transfer_status] [int] NOT NULL,
	[Year_Id] [int] NOT NULL,
	[Guardian_name] [nvarchar](50) NULL,
	[Transfer_reason] [nvarchar](50) NULL,
	[Resom] [bit] NULL,
	[Kotob] [bit] NULL,
	[adrs] [nvarchar](100) NULL,
	[Created_At] [datetime2](3) NULL,
	[Created_by] [nvarchar](15) NULL,
	[Updated_At] [datetime2](3) NULL,
	[Updated_by] [nvarchar](15) NULL,
	[New_Grade] [int] NULL,
	[Trans_After_Year] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Transfer_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [arabic_A_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [arabic_A_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [arabic_B_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [arabic_B_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [math_A_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [math_A_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [math_B_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [math_B_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [scince_A_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [scince_A_practical]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [scince_A_Test]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [scince_B_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [scince_B_practical]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [scince_B_Test]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [social_A_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [social_A_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [social_B_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [social_B_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [english_A_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [english_A_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [english_B_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [english_B_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [dain_A_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [dain_A_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [dain_B_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [dain_B_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [maharat_A_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [maharat_A_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [maharat_B_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [maharat_B_2]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [tocnolegy_A_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [tocnolegy_A_practical]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [tocnolegy_A_Test]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [tocnolegy_B_1]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [tocnolegy_B_practical]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [tocnolegy_B_Test]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [nashat_1_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [nashat_2_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [nashat_1_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [nashat_2_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_ar_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_ar_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_math_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_math_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_scince_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_scince_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_social_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_social_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_english_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_english_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_din_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_din_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_maharat_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_maharat_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_tocnolegy_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_tocnolegy_B]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_term_A]
GO
ALTER TABLE [dbo].[Final_Degrees] ADD  DEFAULT ((0)) FOR [absent_term_B]
GO
ALTER TABLE [dbo].[marks] ADD  DEFAULT ((0)) FOR [social_degre]
GO
ALTER TABLE [dbo].[marks] ADD  DEFAULT ((0)) FOR [maharat_degre]
GO
ALTER TABLE [dbo].[marks] ADD  DEFAULT ((0)) FOR [tocnolegy_degre]
GO
ALTER TABLE [dbo].[marks] ADD  DEFAULT ((0)) FOR [french_degre]
GO
ALTER TABLE [dbo].[Transfers] ADD  DEFAULT ((0)) FOR [Trans_After_Year]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Class_Grade] FOREIGN KEY([Grade_Id])
REFERENCES [dbo].[Grades] ([Grade_Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Class_Grade]
GO
ALTER TABLE [dbo].[DB_Role_Permissions]  WITH CHECK ADD  CONSTRAINT [FK_permission] FOREIGN KEY([permission_id])
REFERENCES [dbo].[DB_Permissions] ([permission_id])
GO
ALTER TABLE [dbo].[DB_Role_Permissions] CHECK CONSTRAINT [FK_permission]
GO
ALTER TABLE [dbo].[DB_Role_Permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permission] FOREIGN KEY([role_permission_id])
REFERENCES [dbo].[DB_USERS_Roles] ([id])
GO
ALTER TABLE [dbo].[DB_Role_Permissions] CHECK CONSTRAINT [FK_role_permission]
GO
ALTER TABLE [dbo].[DB_USERS_Roles]  WITH CHECK ADD  CONSTRAINT [Fk_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[DB_Roles] ([role_id])
GO
ALTER TABLE [dbo].[DB_USERS_Roles] CHECK CONSTRAINT [Fk_Roles]
GO
ALTER TABLE [dbo].[DB_USERS_Roles]  WITH CHECK ADD  CONSTRAINT [Fk_USERS_Roles] FOREIGN KEY([user_id])
REFERENCES [dbo].[DB_USERS] ([user_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DB_USERS_Roles] CHECK CONSTRAINT [Fk_USERS_Roles]
GO
ALTER TABLE [dbo].[degrees]  WITH CHECK ADD  CONSTRAINT [FK__degrees__sort_cod] FOREIGN KEY([sort_code])
REFERENCES [dbo].[sorts] ([sort_code])
GO
ALTER TABLE [dbo].[degrees] CHECK CONSTRAINT [FK__degrees__sort_cod]
GO
ALTER TABLE [dbo].[degrees]  WITH CHECK ADD  CONSTRAINT [FK__degrees__std_Code] FOREIGN KEY([student_Id])
REFERENCES [dbo].[StdData] ([std_code])
GO
ALTER TABLE [dbo].[degrees] CHECK CONSTRAINT [FK__degrees__std_Code]
GO
ALTER TABLE [dbo].[marks]  WITH CHECK ADD  CONSTRAINT [FK__marks__sort_code] FOREIGN KEY([sort_code])
REFERENCES [dbo].[sorts] ([sort_code])
GO
ALTER TABLE [dbo].[marks] CHECK CONSTRAINT [FK__marks__sort_code]
GO
ALTER TABLE [dbo].[marks]  WITH CHECK ADD  CONSTRAINT [FK__marks__std_Code] FOREIGN KEY([student_Id])
REFERENCES [dbo].[StdData] ([std_code])
GO
ALTER TABLE [dbo].[marks] CHECK CONSTRAINT [FK__marks__std_Code]
GO
ALTER TABLE [dbo].[School_Std_Data]  WITH CHECK ADD  CONSTRAINT [FK_School_Class] FOREIGN KEY([Class_Id])
REFERENCES [dbo].[Classes] ([Class_Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[School_Std_Data] CHECK CONSTRAINT [FK_School_Class]
GO
ALTER TABLE [dbo].[School_Std_Data]  WITH CHECK ADD  CONSTRAINT [FK_School_Grade] FOREIGN KEY([Grade_Id])
REFERENCES [dbo].[Grades] ([Grade_Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[School_Std_Data] CHECK CONSTRAINT [FK_School_Grade]
GO
ALTER TABLE [dbo].[School_Std_Data]  WITH CHECK ADD  CONSTRAINT [FK_School_Status] FOREIGN KEY([Std_Status_Id])
REFERENCES [dbo].[StudentStatuses] ([Std_Status_Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[School_Std_Data] CHECK CONSTRAINT [FK_School_Status]
GO
ALTER TABLE [dbo].[School_Std_Data]  WITH CHECK ADD  CONSTRAINT [FK_School_Std] FOREIGN KEY([std_code])
REFERENCES [dbo].[StdData] ([std_code])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[School_Std_Data] CHECK CONSTRAINT [FK_School_Std]
GO
ALTER TABLE [dbo].[School_Std_Data]  WITH CHECK ADD  CONSTRAINT [FK_School_Year] FOREIGN KEY([Year_Id])
REFERENCES [dbo].[MyYears] ([Year_Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[School_Std_Data] CHECK CONSTRAINT [FK_School_Year]
GO
ALTER TABLE [dbo].[StdData]  WITH CHECK ADD  CONSTRAINT [FK_Gender_Id] FOREIGN KEY([Gender_Id])
REFERENCES [dbo].[Genders] ([Gender_Id])
GO
ALTER TABLE [dbo].[StdData] CHECK CONSTRAINT [FK_Gender_Id]
GO
ALTER TABLE [dbo].[StdData]  WITH CHECK ADD  CONSTRAINT [FK_Grade_Id] FOREIGN KEY([Grade_Id])
REFERENCES [dbo].[Grades] ([Grade_Id])
GO
ALTER TABLE [dbo].[StdData] CHECK CONSTRAINT [FK_Grade_Id]
GO
ALTER TABLE [dbo].[StdData]  WITH CHECK ADD  CONSTRAINT [FK_Nationality_Id] FOREIGN KEY([Nationality_Id])
REFERENCES [dbo].[Nationalities] ([Nationality_Id])
GO
ALTER TABLE [dbo].[StdData] CHECK CONSTRAINT [FK_Nationality_Id]
GO
ALTER TABLE [dbo].[StdData]  WITH CHECK ADD  CONSTRAINT [fk_Osraa_Id] FOREIGN KEY([Osraa_Id])
REFERENCES [dbo].[OsraData] ([Osraa_Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StdData] CHECK CONSTRAINT [fk_Osraa_Id]
GO
ALTER TABLE [dbo].[StdData]  WITH CHECK ADD  CONSTRAINT [FK_Religion_Id] FOREIGN KEY([Religion_Id])
REFERENCES [dbo].[Religions] ([Religion_Id])
GO
ALTER TABLE [dbo].[StdData] CHECK CONSTRAINT [FK_Religion_Id]
GO
ALTER TABLE [dbo].[StdData]  WITH CHECK ADD  CONSTRAINT [FK_Std_Status_Id] FOREIGN KEY([Std_Status_Id])
REFERENCES [dbo].[StudentStatuses] ([Std_Status_Id])
GO
ALTER TABLE [dbo].[StdData] CHECK CONSTRAINT [FK_Std_Status_Id]
GO
ALTER TABLE [dbo].[StdData]  WITH CHECK ADD  CONSTRAINT [FK_Year_Id] FOREIGN KEY([Year_Id])
REFERENCES [dbo].[MyYears] ([Year_Id])
GO
ALTER TABLE [dbo].[StdData] CHECK CONSTRAINT [FK_Year_Id]
GO
ALTER TABLE [dbo].[Transfers]  WITH CHECK ADD  CONSTRAINT [FK_Transfer_status] FOREIGN KEY([Transfer_status])
REFERENCES [dbo].[StudentStatuses] ([Std_Status_Id])
GO
ALTER TABLE [dbo].[Transfers] CHECK CONSTRAINT [FK_Transfer_status]
GO
ALTER TABLE [dbo].[Transfers]  WITH CHECK ADD  CONSTRAINT [FK_Transfer_Std] FOREIGN KEY([std_code])
REFERENCES [dbo].[StdData] ([std_code])
GO
ALTER TABLE [dbo].[Transfers] CHECK CONSTRAINT [FK_Transfer_Std]
GO
ALTER TABLE [dbo].[Transfers]  WITH CHECK ADD  CONSTRAINT [FK_Transfer_Year] FOREIGN KEY([Year_Id])
REFERENCES [dbo].[MyYears] ([Year_Id])
GO
ALTER TABLE [dbo].[Transfers] CHECK CONSTRAINT [FK_Transfer_Year]
GO
